<?xml version="1.0"?>

<launch>
  <arg name="ip" default="Optitrack.local" />
  <arg name="port" default="3883" />
  <arg name="frame_id" default="world" /> 
  <arg name="child_frame_id" default="Tracker0" /> <!-- Also matches tracker name -->
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0" />
  <arg name="yaw" default="0" />
  <arg name="pitch" default="0" />
  <arg name="roll" default="0" />
  <arg name="sx" default="1" />
  <arg name="sy" default="1" />
  <arg name="sz" default="1" />

  <node pkg="ros_vrpn_client" name="correct_world" output="screen" type="correct_world.py"/>

  <node pkg="ros_vrpn_client" name="Tracker0" output="screen" type="ros_vrpn_client" required="true">
    <param name="ip" value="$(arg ip)" />
    <param name="port" value="$(arg port)" />
    <param name="frame_id" value="$(arg frame_id)" />
    <param name="child_frame_id" value="$(arg child_frame_id)" />
    <param name="x" value="$(arg x)" />
    <param name="y" value="$(arg y)" />
    <param name="z" value="$(arg z)" />
    <param name="yaw" value="$(arg yaw)" />
    <param name="pitch" value="$(arg pitch)" />
    <param name="roll" value="$(arg roll)" />
    <param name="sx" value="$(arg sx)" />
    <param name="sy" value="$(arg sy)" />
    <param name="sz" value="$(arg sz)" />
  </node>

  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find ros_vrpn_client)/launch/optitrack.rviz" />
</launch>
