<?xml version="1.0"?>

<launch>
  <arg name="ip" default="localhost" />
  <arg name="port" default="3883" />
  <arg name="frame_id" default="world" />
  <arg name="child_frame_id" default="Tracker0" /> <!-- Also matches tracker name -->

  <node pkg="ros_vrpn_client" name="Tracker0" output="screen" type="ros_vrpn_client" required="true">
    <param name="ip" value="$(arg ip)" />
    <param name="port" value="$(arg port)" />
    <param name="frame_id" value="$(arg frame_id)" />
    <param name="child_frame_id" value="$(arg child_frame_id)" />
  </node>

  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find ros_vrpn_client)/launch/test.rviz" />
</launch>
